.clear {
	display: block;
	clear: both;
	float: none;
}

/*Main Divs*/
body.custom-background, body {
	background: transparent url("https://2016.nashville.wordcamp.org/files/2016/06/2016-wcnash-background-big.png") no-repeat fixed right top;
	color: #666;
}
.hentry {
	background-color: rgba(256,256,245,.9);
	margin-top: 40px;
}
.entry-footer {
	background-color: rgba(209,176,27,.6);
}
.sticky-post {
	background-color: #211C07;
	font-family: "unit-gothic-719";
	font-weight: 200;
	letter-spacing: 0.1em;
}
.site-footer {
	background-color: #262335;
}
@media screen and (min-width: 59.6875em) {
	body::before {
		border-right: 12px solid #262335;
	}
}
/* Typography */
h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	font-family: "unit-gothic-719";
	color: #262335;
}
.entry-title {
	color: #211C07;
	font-family: "hwt-american-solid";
	font-weight: 200;
}
.widget-title {
	font-family: "hwt-american-solid";
	color: #256E12;
}
.entry-content ul {
	margin-left: 2rem;
}
/* Links */
a {
	text-decoration: none;
	color: #298c83;
}
.entry-content a, .entry-summary a, .page-content a, .comment-content a, .pingback .comment-body > a {
	border-bottom: 1px solid #298c83;
}
a:hover, a:focus {
	color: #256E12;
}
.main-navigation a {
	font-family: "unit-gothic-719";
	font-size: 150%;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
.main-navigation .current-menu-item > a, .main-navigation .current-menu-ancestor > a {
	font-weight: 200;
	color: #256E12;
}
.site-info a {
	color: #ebdfc7;
}
.site-info a:hover, .site-info a:focus {
	color: #FFF;
}
/* Buttons */
button, input[type="button"], input[type="reset"], input[type="submit"] {
	background-color: #bf2b0b;
	font-family: "unit-gothic-719";
	font-weight: 200;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	background-color: #d63750;
	outline: 0;
}
